@import "tailwindcss";

@font-face {
  font-family: "MiFuente";
  src: url("/fonts/font-valentin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-valentin {
  font-family: "MiFuente";
}

.line-h-0 {
  line-height: 0.6;
}

#floating-image {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bg-hearts {
  background: url(../public/imgs/icons/bg-love.jpg);
  background-size: contain;
  background-attachment: fixed;
}
